# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build
/build/

# React Router
/.react-router/

# Environment Variables
.env
.env.local
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
